page-details {
  .scroll-content
    {
        display: table !important;
    }
    .pepole
    {
        font-size: 70px;
        color:#488aff;
    }
    .title
    {
        font-size:30px;
    }
    
}
